.home-about-section ul li {
    list-style: none;
    opacity: 0.7;
}

.contact-button .parent .btn-gradient-2 {
    border-radius: 50em;
    border: 2px solid rgb(245, 118, 0);
    background: transparent;
}

.header-section {
    margin-bottom: 70px;
}

.home-about-section ul {
    padding: 0;
}

.home-about-section ul {
    padding: 0;
    margin-bottom: 20px;
}

.home-about-section ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #B9BABE;
}

.home-about-section h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 111px;
}

.header-bg-section .card-latest-line {
    border-bottom: 1px solid black;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgb(255 153 0) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
    margin-bottom: 140px;
    height: 2px;
    font-weight: 700;
}

.header-bg-section {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgb(26 26 27), rgb(6 6 5 / 77%)), url(../about-us/imges/header-bg.png);
}

.about-us-main-text h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 79px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.about-us-main-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 187.7%;
    color: #FFFFFF;
    opacity: 0.9;
}

/* ==========================What Is Forex Signal?========================== */
.forex-signal-button button {
    font-weight: 500;
    font-size: 15px;
    line-height: 158.7%;
    color: #FFFFFF;
}

.main-section {
    margin-bottom: 143px;
}

.main-section .images-section img {
    height: 491px;
}

.main-text .main-header-text h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 10px;
}

.our-service .service-img {
    margin-right: 20px;
}

.our-service h6 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.our-service p {
    font-weight: 400;
    font-size: 13px;
    line-height: 187.7%;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 30px;
}

.main-padding-right {
    padding-right: 30px;
}

.main-padding-left {
    padding-left: 30px;
}

/* ======================An investment that takes you to great height====================== */
.investment-great-height {
    background: linear-gradient(to bottom, rgba(25, 25, 25, 25) -20%, rgb(96 51 5 / 40%) 33%, rgb(96 51 5 / 30%) 67%, rgba(1, 1, 22, 1) 125%);
}

.height-padding-left {
    padding-left: 35px;
}

.height-padding-right {
    padding-right: 35px;
}

.choose-us-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-service p {
    font-size: 13px;
}

.choose-us-section .images-section img {
    height: 602px;
}

/* =================================Our Latest Blog================================= */
.latest-main-header-text h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.latest-blog-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
}

.card-socail-icons ul {
    padding: 0;
}

.card-socail-icons ul li {
    list-style: none;
    margin: 0 8px;
    padding: 8px 14px;
    border-radius: 100%;
    border: 2px solid #FFFFFF;
}

.card-socail-icons ul li:hover {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
}


.latest-blog {
    padding-top: 144px;
}

.blog-latest-card {
    margin-top: 45px;
}

.team-member-latest-card {
    margin-top: 40px;
}

.blog-information {
    padding: 18px;
}

.card-body.card-info.text-center {
    padding: 18px;
}

.card-body.card-info.text-center h6 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
}

.card-body.card-info.text-center p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.card-socail-icons ul li i {
    color: white;
}

.lear-bg {
    background-image: url(../images/main/footer/lair-bg.png),
        linear-gradient(180deg, rgba(0, 0, 0, 0.93) 17.46%, rgba(12, 12, 12, 0.54) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 61px;
    padding-top: 102px;
}

/* ==========================Responsive degains========================== */

@media screen and (max-width: 576px) {
    .home-about-section h1 {
        margin-bottom: 50px;
        font-size: 30px;
    }

    .header-bg-section .card-latest-line {
        margin-bottom: 70px;
    }

    .main-padding-right {
        padding-right: 12px;
    }

    .about-us-main-text h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .about-us-main-text p {
        font-size: 14px;
    }

    .about-us-main-text {
        margin-top: 20px;
    }

    .forex-signal-button {
        text-align: center;
    }

    .main-text .main-header-text h3 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .height-padding-left {
        padding-left: 12px;
    }

    .choose-us-section {
        padding-top: 30px;
        padding-bottom: 2px;
    }

    .main-section {
        margin-bottom: 50px;
    }

    .lear-bg {
        padding-top: 50px;
    }

    .latest-main-header-text h2 {
        font-weight: 700;
        font-size: 31px;
        line-height: 50px;
        color: #FFFFFF;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .home-about-section h1 {
        margin-bottom: 50px;
    }

    .header-bg-section .card-latest-line {
        margin-bottom: 80px;
    }

    .about-us-main-text h2 {
        font-size: 40px;
        line-height: 70px;
    }

    .main-section {
        margin-bottom: 50px;
    }

    .main-text .main-header-text h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
    }

    .main-padding-right {
        padding-right: 12px;
        text-align: center;
    }

    .height-padding-right {
        padding-right: 35px;
        text-align: center;
    }

    .height-padding-left {
        padding-left: 12px;
    }

    .latest-blog {
        padding-top: 0px;
    }

    .latest-title.row {
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .main-text .main-header-text h3 {
        font-size: 30px;
        line-height: 35px;
    }

    .height-padding-right {
        padding-right: 12px;
    }

    .height-padding-left {
        padding-left: 12px;
    }

    .choose-us-section {
        padding-top: 50px;
    }

    .main-section {
        margin-bottom: 50px;
    }

    .header-bg-section .card-latest-line {
        margin-bottom: 40px;
    }

    .about-us-main-text h2 {
        font-size: 28px;
        line-height: 35px;
    }

    .about-us-main-text p {
        font-size: 14px;
    }

    .latest-blog {
        padding-top: 5px;
    }

    .latest-main-header-text h2 {
        font-weight: 700;
        font-size: 28px;
    }

    .lear-bg {
        margin-top: 61px;
        padding-top: 8px;
    }

    .row.footer-tow-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}