.form-section input {
    border-radius: 0;
    background: linear-gradient(0deg, #0C0C0C, #0C0C0C),
        linear-gradient(90deg, rgb(251 251 251) 0%, rgb(255 255 255) 100%);
    color: white;
    border-radius: 2px;
    border-color: #f79305db;
    outline: 0;
    box-shadow: 0px;
}

.contact-container h2.contact-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.main-section.contact-container {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.row.form-section {
    padding: 0px 199px 0px 231px;
}

.main-section.contact-container h6 {
    margin-bottom: 0px;
}

.contact-container .header-text-underline-style {
    justify-content: center;
    align-items: center;
    display: flex;
}

.row.form-section input.form-control {
    padding: 20px 20px;
    font-weight: 400;
    font-size: 16px;
    margin: 12px 0px;
}

.form-btn.text-center.mx-auto {
    margin-top: 46px;
}

.form-btn.text-center.mx-auto button {
    padding: 15px 34px;
}

.form-section input:focus {
    border-radius: 0;
    background: linear-gradient(0deg, #0C0C0C, #0C0C0C),
        linear-gradient(90deg, rgb(251 251 251) 0%, rgb(255 255 255) 100%);
    color: white;
    border-radius: 2px;
    border-color: #f79305db;
    outline: 0;
    box-shadow: 0px;
}

.form-control:focus {
    border-color: #f79305db;
    outline: 0;
    box-shadow: 0px;
    outline: none;
    box-shadow: none;
    color: #fff;
}

.form-section input[type='text']::-webkit-input-placeholder {
    color: #fff
}


textarea {
    border-radius: 0;
    background: linear-gradient(0deg, #0C0C0C, #0C0C0C),
        linear-gradient(90deg, rgb(251 251 251) 0%, rgb(255 255 255) 100%);
    color: white;
    border-radius: 2px;
    border-color: #f79305db;
    outline: 0;
    box-shadow: 0px;
    width: 100%;
    padding: 15px;
}

.text-area {
    width: 100%;
}

::placeholder {
    color: #fff
}

.input-group input.form-control {
    color: #000;
}


/* ==========================Responsive degains========================== */

@media screen and (max-width: 576px) {
    .contact-container h2.contact-text {
        font-size: 35px;
    }

    .row.form-section {
        padding: 0px 0px 0px 0px;
    }

    .form-btn.text-center.mx-auto button {
        padding: 8px 17px;
    }

    .lear-bg {
        margin-top: 30px;
        padding-top: 35px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .row.form-section {
        padding: 0px 0px 0px 0px;
    }

    .lear-bg {
        margin-top: 30px;
        padding-top: 35px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .row.form-section {
        padding: 0px 0px 0px 0px;
    }

    .lear-bg {
        margin-top: 30px;
        padding-top: 35px;
    }

    .email-field button {
        padding: 18px 25px;
    }
}