body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6, p{
    color: white;
}


/* Button Style */

.btn-gradient-2 {
    font-size: 1em;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-gradient-2 {
    background: linear-gradient(rgb(20, 19, 19), rgb(13, 12, 12)) padding-box,
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}
/* .images-section{
    background-image: 
       url('../images/header/header-1.png'),
       url('../images/header/header-2.png'),
       url('../images/header/Shape-2.png');
   background-repeat: no-repeat, no-repeat, no-repeat;
   height: 100%;
   background-position: center;
   background-origin: content-box;
   background-attachment: fixed;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: 300px 100px; */
   
/* } */