body {
    font-family: 'Poppins', sans-serif;
}

/* ========================== Primary section start ========================= */
.header-text-underline-style h6 span {
    font-size: 16px;
    line-height: 117.7%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #F5FFCC;
    margin-right: 9px;
}

.header-text-underline-style h6 span hr {
    width: 34px;
    height: 1px;
    border: 2px solid #f5ffcc;
    margin-top: 8px;
    border-radius: 2px;
}

/* ======================== Primary section End ======================= */
.we-are-special .special-section h1 {
    font-size: 48px;
    line-height: 79px;
    margin-top: 14px;
}

/* ======================== header section start ============================== */
ul.navbar-nav.me-auto.mb-lg-0 {
    padding-left: 25px;
}

ul.navbar-nav.me-auto.mb-lg-0 li a {
    padding: 0px 20px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
}

.button-section .parent button {
    font-size: 14px;
    line-height: 158.7%;
}

.btn-gradient-2 {
    padding: 12px 28px;
    font-size: 14px;
    letter-spacing: -0.03em;
}

.btn-gradient-2 {
    background: linear-gradient(rgb(20, 19, 19), rgb(13, 12, 12)) padding-box,
        linear-gradient(to right, #eba946, hsl(29, 100%, 48%)) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

.button-primary {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    border: none;
}

.main-section .images-section img {
    height: 490.74px;
}

.header-section {
    margin-bottom: 130px;
    padding-top: 18px;
}

/* ===================================Banner Section Style============================= */

.banner-section {
    margin-bottom: 92px;
}

.banner-section .padding-right {
    padding-right: 45px;
}

.banner-section .padding-left {
    padding-left: 45px;
}

.banner-text h6 {
    color: #F5FFCC;
    font-size: 16px;
    line-height: 117.7%;
    letter-spacing: -0.03em;
    margin-bottom: 17px;
}

.banner-text h1 {
    font-size: 64px;
    line-height: 79px;
    margin-bottom: 20px;
}

.banner-text p {
    font-size: 16px;
    line-height: 187.7%;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 25px;
}

.banner-section button {
    padding: 15px 34px;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.btn:focus, .btn.focus {
    outline: none !important;
}

.banner-section button a {
    font-size: 15px;
    line-height: 158.7%;
    color: #FFFFFF;
}

header hr {
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(217, 217, 217, 0) 100%);
    border-radius: 1000px;
    font-weight: 800;
}

/* ===============================Why We Extra Ordinary========================= */
article.we-extra-ordinary {
    margin-bottom: 130px;
}

.we-extra-ordinary .padding-right {
    padding-right: 45px;
}

.we-extra-ordinary .padding-left {
    padding-left: 45px;
}

.main-text h2 {
    font-size: 48px;
    line-height: 79px;
}

.main-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 187.7%;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 36px;
}

.we-extra-ordinary .main-section .parent a button {
    font-size: 15px;
    line-height: 158.7%;
    padding: 15px 34px;
}

/* ==============================Why We Are Special============================= */
.we-are-special .special-section p {
    font-size: 16px;
    line-height: 187.7%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.9;
}

.we-are-special .card-style {
    border: 2px solid transparent;
    border-radius: 16px;
    background: linear-gradient(0deg, #0C0C0C, #0C0C0C) padding-box,
        linear-gradient(90deg, rgb(255 217 100 / 46%) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgb(255 153 0 / 40%) 100%);
}

.we-are-special .special-section h5 {
    font-size: 30px;
    line-height: 45px;

}

.we-are-special .special-section p {
    font-size: 16px;
    line-height: 187.7%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 45px;
}

.we-are-special .special-part {
    margin-bottom: 75px;
    padding: 0 23px;
}


/* ==============================Checkout Our Few Signals============================= */
.checkout-section {
    padding-top: 91px;
    padding-bottom: 125px;
}

.checkout-are {
    background-image: linear-gradient(90deg,
            rgba(12, 12, 12, 1),
            rgb(96 51 5 / 73%),
            rgba(12, 12, 12, 1));
    margin-top: 130px;
}

.main-header-text h1 {
    font-size: 48px;
    line-height: 79px;
    margin: 14px 0px 9px 0px;
}

.main-header-text p {
    font-size: 16px;
    line-height: 187.7%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 45px;
}

.few-signals-items p {
    align-items: center;
    display: flex;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.few-signals-items .last-items {
    align-items: center;
    display: flex;
    margin: 0;
    font-weight: 600;
    font-size: 20px;
}

.few-signals-items img {
    width: 42%;
    margin: auto;
}

.special-part .special-card-body {
    padding: 21px 22px 34px 22px;
}

.card-border {
    border: 2px solid transparent;
    border-image: linear-gradient(90.12deg, rgba(255, 255, 255, 0.1) -23.55%, rgba(255, 255, 255, 0.055) 120.81%) 1;
}

.card-body {
    opacity: 1.7;
}

.card-img {
    width: 50px;
    height: 50px;
}

.card-style .card-img {
    background-color: #F7C301;
    padding: 8px;
    border: 3px solid;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    margin-top: -30px;
}

.section-one {
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(91, 91, 91, 0.33) 50.31%, rgba(217, 217, 217, 0) 100%);
}

.border-bottom-style {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
}

.hover-effect:hover {
    background: rgba(255, 153, 0, 0.6);
}


/* ============================Pricing Section start============================ */
.pricing-section {
    padding-top: 130px;
    padding-bottom: 161px;
}

.pricing-card h3 {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 19px;
}

.pricing-card .card-latest-line {
    border-bottom: 1px solid black;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgb(255 153 0) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
    margin-bottom: 42px;
    height: 2px;
    font-weight: 700;
}

.pricing-card h3 {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 19px;
}

.pricing-section h1 {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 45px;
}

.pricing-section .card-field {
    padding: 0px;
}

.pricing-card {
    border: 2px solid #0000009e;
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #F7C301 0%, #F47E37 100%) border-box;
    border-radius: 21px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.pricing-card .top-images {
    padding-top: 18px;
    margin: auto;
}

.pricing-card h5 {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}

ul.text-start {
    padding-left: 27px;
}

ul.text-start li img {
    padding-right: 18px;
}

.button-section .parent .btn-gradient-2 {
    padding: 23px 30px;
    font-size: 14px;
    letter-spacing: -0.03em;
    font-size: 18px;
    line-height: 22px;
}

.pricing-card:hover {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #F7C301 0%, #F47E37 100%) border-box;
    border-radius: 21px;
    border: 2px solid transparent;
}

.pricing-card:hover .hover-style {
    height: 28px;
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    box-shadow: 0px 10px 160px -2px rgba(0, 0, 0, 0.16);
    border-radius: 18px 18px 0px 0px;
}

.hover-style {
    height: 28px;
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    box-shadow: 0px 10px 160px -2px rgba(0, 0, 0, 0.16);
    border-radius: 18px 18px 0px 0px;
}

.top-style {
    height: 28px;
    background: linear-gradient(90deg, #000000 0%, #000000 100%);
    box-shadow: 0px 10px 160px -2px rgba(0, 0, 0, 0.16);
    border-radius: 18px 18px 0px 0px;
}

.pricing-card .top-img {
    height: 200px;
    width: 90px;
}

.pricing-card h5 {
    background: linear-gradient(95.39deg, rgba(255, 255, 255, 0) -6.03%, #FFFFFF 129.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 18px;
    font-size: 34px;
    line-height: 51px;
}

.pricing-card .silver {
    background: linear-gradient(95.39deg, rgba(255, 255, 255, 0) 28.97%, #FFFFFF 62.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 34px;
}

.pricing-card .gold {
    background: linear-gradient(90deg, #F7C301 71%, #F47E37 131%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #eee9e99e;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 34px;
}

.pricing-card .dimond {
    background: linear-gradient(90deg, #FFFFFF 37%, #F7B70B 45.24%, #FFFFFF 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 700;
    font-size: 34px;
}

.pricing-card:hover h5 {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.pricing-card ul li {
    list-style: none;
    padding: 13px 0px;
    color: white;
    font-size: 18px;
    line-height: 26px;
}

.pricing-card ul span.text-white {
    color: white;
    opacity: 0.7;
}

.pricing-card ul li button {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #F7C301 0%, #F47E37 100%) border-box;
    border-radius: 21px;
    border: 1px solid transparent;
    color: #e2a90f;
    align-items: center;
    display: inline-flex;
    padding: 3px 10px;
}

.pricing-card ul li .no {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #f70101 0%, #f46208 100%) border-box;
    border-radius: 21px;
    border: 1px solid transparent;
    color: red;
    padding: 3px 10px;
    align-items: center;
    display: inline-flex;
}

.pricing-card:hover .pricing-button {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    border-radius: 100px;
}


/* ===================================Total Section Start======================== */
.total-border .number-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-field {
    padding: 71px 0px 71px 118px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.total-section .total-border .text-field h3 {
    font-size: 50px;
    line-height: 75px;
}

.total-section .total-border .text-field p {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.03em;
    color: #717282;
}

.total-section p {
    font-size: 20px;
    color: #717282;
}

.total-border {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #F7C301 0%, #F47E37 100%) border-box;
    border-radius: 21px;
    border: 1px solid transparent;
}

.owl-carousel .item-field,
.latest-card .card {
    background-color: #000000;
}



/*  Our Latest Blog */
.latest-card .card {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #dbd8cd 0%, #c4a18b 0%) border-box;
    border: 1px solid #00000082;
}

.latest-card .card:hover {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #dbd8cd 0%, #c4a18b 0%) border-box;
    border: 1px solid transparent;
}

.latest-card .card-text {
    font-size: 17px;
}

.card-latest-line {
    border-bottom: 1px solid black;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgb(255 153 0) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
    margin-bottom: 120px;
    height: 2px;
    font-weight: 700;
}

button.btn-gradient-2.card-bottom {
    background: linear-gradient(rgb(20, 19, 19), rgb(13, 12, 12)) padding-box,
        linear-gradient(to right, #eba946, hsl(29, 100%, 48%)) border-box;
    border-radius: 50em;
    border: 1px solid #eae3e3d9;
}

.latest-card .card:hover button.btn-gradient-2.card-bottom {
    background: linear-gradient(rgb(20, 19, 19), rgb(13, 12, 12)) padding-box,
        linear-gradient(to right, #eba946, hsl(29, 100%, 48%)) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
}

.card-body p i {
    color: #ffa300fa;
}

.card-body h6 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}



/* Email Field */
.email-field button {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    border-radius: 0px 200px 200px 0px;
    padding: 20px;
    color: white;
    font-weight: 700;
}

.input-group.email-field {
    width: 600px;
    margin: auto;
}

input.form-control {
    border-radius: 180px 0px 0px 180px;
    padding: 15px;
}

/* Curosol */
.border-line {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%,
            rgba(255, 153, 0, 0.14) 100%) 1;
}

.swiper-slide .card {
    background: rgb(255, 217, 100, 0.1);
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
}

.swiper-slide .card p {
    color: #FFFFFF;
    opacity: 0.7;
    line-height: 30px;
}

.swiper-slide .card img {
    width: 130px;
    border-radius: 50%;
    margin-top: -75px;
}

.mySwiper {
    display: flex;
    align-items: center;
}

span.swiper-pagination-bullet.swiper-pagination-bullet {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    width: 18px;
    height: 18px;
}

.swiper-section {
    margin-bottom: 60px;
}

/* Footer Section start */
.footer-logo-text h1 {
    font-size: 22px;
    line-height: 33px;
}

.footer-logo-text ul {
    list-style: none;
    padding: 0;
}

.footer-logo-text ul li {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer-logo-text ul li a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}

.icons ul li a {
    padding: 8px 12px;
    color: white;
    font-weight: 700;
}

.logo ul {
    display: flex;
}

.logo ul li {
    margin: 0 7px;
    background: #1F1F1F;
    border-radius: 100%;
    padding: 6px 8px;
}

/* Drop down menu */

.country-drop-down-menu .drop-down {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.drop-down .arrow {
    font-size: 30px;
}

.drop-down .wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.drop-down img {
    width: 50px;
    height: 30px;
}

.list {
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
    cursor: pointer;
    max-height: 250px;
    overflow-y: scroll;
    width: 100%;
    display: none;
    color: black;
    z-index: 9;
}

.show {
    display: block;
}

.item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.item:hover {
    background-color: rgb(211, 211, 211);
}

.footer-logo-text.d-flex.align-items-center {
    justify-content: end;
}

.lear-bg {
    background-image: url(../images/main/footer/lair-bg.png),
        linear-gradient(180deg, rgba(0, 0, 0, 0.0) 17.46%, rgba(12, 12, 12, 0.54) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.subscribe-are {
    background: linear-gradient(267deg, rgb(0 0 0 / 47%) 95%, rgb(0 0 0 / 32%) 58%, rgb(8 8 8 / 47%) 18%);
}

footer.mt-5 {
    background: #00000061;
}










/* ===================================== Responsive Style ================================= */

@media screen and (max-width: 576px) {
    ul.navbar-nav.me-auto.mb-lg-0 {
        padding-left: 0px;
    }

    ul.navbar-nav.me-auto.mb-lg-0 li a {
        padding: 10px 20px;
    }

    .header-section {
        margin-bottom: 0px;
    }

    section.container {
        padding: 0 15px;
    }

    div#navbarSupportedContent {
        text-align: center;
        padding-bottom: 30px;
    }


    .banner-section {
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        border-color: white;
    }

    .navbar-light .navbar-toggler {
        background: white;
        border: 1px solid #F47E37;
    }

    .banner-text h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .images-section.d-flex {
        margin-top: 30px;
    }

    .card .pricing-card {
        margin-top: 40px;
    }

    span#basic-addon2 {
        padding: 10px;
    }

    .footer-logo-text.mt-5.d-flex.justify-content-between {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-logo-text.mt-5.d-flex.justify-content-between div {
        margin: 10px 0px;
    }

    .connected-text.d-flex.align-items-center {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
    }

    .country-drop-down-menu {
        margin: auto;
        padding-top: 25px;
    }

    .footer-last-section {
        text-align: center;
    }

    .input-group.email-field {
        width: 330px;
        margin: auto;
    }

    .main-section {
        margin-top: 0px;
    }

    .main-section.py-5.my-5 {
        text-align: center;
        padding: 0 15px;
    }

    .row.row-cols-1.row-cols-md-3 {
        padding: 0 15px;
    }

    .col-12.col-sm-12.col-md-6.col-lg-4.p-0 {
        margin: 30px 0px;
    }

    img.ps-5.ms-5 {
        display: none;
    }

    .latest-title.pb-5 {
        text-align: center;
    }

    .card.p-2 {
        margin: 10px 0px;
    }

    .footer-logo-text.d-flex.align-items-center {
        justify-content: center;
    }

    .row.footer-tow-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-text h6 {
        margin: 17px 0px;
    }

    .banner-text p {
        font-size: 14px;
        line-height: 180.7%;
    }

    .banner-section button {
        padding: 10px 30px;
    }

    .banner-section {
        margin-bottom: 50px;
    }

    .card-latest-line {
        margin-bottom: 80px;
    }

    .banner-section .padding-right {
        padding-right: 12px;
        margin-bottom: 10px;
    }

    .banner-section .padding-left {
        padding-right: 12px;
    }

    .main-text {
        margin-top: 30px;
    }

    .we-extra-ordinary .padding-right {
        padding-right: 12px;
    }

    .we-extra-ordinary .padding-left {
        padding-left: 12px;
    }

    .main-text h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .button-section .parent {
        text-align: center;
    }

    .banner-section .padding-left {
        padding-left: 12px;
    }

    .we-extra-ordinary .main-section .parent a button {
        padding: 8px 16px;
    }

    article.we-extra-ordinary {
        margin-bottom: 60px;
    }

    .we-are-special .special-section h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .special-part .special-card-body {
        padding: 21px 22px 0px 22px;
    }

    .checkout-are {
        margin-top: 0px;
    }

    .checkout-section {
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .main-header-text h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .pricing-section .card-field {
        margin-bottom: 60px;
    }

    .pricing-section {
        padding-top: 45px;
        padding-bottom: 80px;
    }

    .total-border .number-logo img {
        display: none;
    }

    .text-field {
        padding: 29px 0px 19px 118px;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {

    ul.navbar-nav.me-auto.mb-lg-0 {
        padding-left: 0px;
    }

    article.we-extra-ordinary {
        margin-bottom: 80px;
    }

    .banner-section .padding-left {
        padding-left: 12px;
    }

    .navbar-light .navbar-toggler {
        border-color: white;
    }

    .navbar-light .navbar-toggler {
        background: white;
        border: 1px solid #F47E37;
    }

    ul.navbar-nav.me-auto.mb-lg-0 li a {
        padding: 10px 20px;
    }

    div#navbarSupportedContent {
        text-align: center;
    }

    section.container {
        padding: 0 15px;
    }

    .banner-section {
        text-align: center;
        margin-top: -70px;
        margin-bottom: 50px;
    }

    .banner-text h1 {
        font-size: 35px;
        line-height: 60px;
    }

    .images-section.d-flex {
        margin-top: 40px;
    }

    .card-group.text-center.align-items-center.m-auto.justify-content-center {
        display: flex;
        flex-direction: column;
    }

    .card.pricing-card {
        margin-top: 54px;
    }

    .input-group.email-field {
        width: 540px;
        margin: auto;
    }

    .footer-logo-text.mt-5.d-flex.justify-content-between {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer-logo-text.mt-5.d-flex.justify-content-between div {
        margin-top: 25px;
    }

    .connected-text.d-flex.align-items-center {
        text-align: center;
        justify-content: center;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .country-drop-down-menu {
        margin: auto;
        padding: 30px 0px;
    }

    .copy-field {
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .footer-logo-text.d-flex.align-items-center {
        justify-content: center;
    }

    .card-group.text-center.align-items-center.justify-content-center {
        display: flex;
        flex-direction: column;
    }

    .main-section.py-5.my-5 {
        text-align: center;
        padding: 0 15px;
    }

    .row.row-cols-1.row-cols-md-3 {
        padding: 0 15px;
    }

    .col-12.col-sm-12.col-md-6.col-lg-4.p-0 {
        margin: 30px 0px;
    }

    img.ps-5.ms-5 {
        display: none;
    }

    .latest-title.pb-5 {
        text-align: center;
    }

    .card.p-2 {
        margin: 10px 0px;
    }

    p.py-3 {
        font-size: 12px;
    }

    .banner-section .padding-right {
        padding-right: 12px;
        margin-bottom: 10px;
    }

    .banner-section .padding-left {
        padding-right: 12px;
    }

    .we-extra-ordinary .padding-right {
        padding-right: 12px;
    }

    .we-extra-ordinary .padding-left {
        padding-left: 12px;
    }

    .main-text h2 {
        font-size: 25px;
        line-height: 40px;
    }

    .button-section .parent {
        text-align: center;
    }

    .card-latest-line {
        margin-bottom: 75px;
    }

    .pricing-section .card-field {
        margin-bottom: 60px;
    }

    .pricing-section {
        padding-top: 45px;
        padding-bottom: 80px;
    }

    .total-border .number-logo img {
        display: none;
    }

    .text-field {
        padding: 29px 0px 19px 70px;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    ul.navbar-nav.me-auto.mb-lg-0 {
        padding-left: 0px;
    }

    .banner-section .padding-left {
        padding-left: 12px;
    }

    div#navbarSupportedContent {
        text-align: center;
    }

    .navbar-light .navbar-toggler {
        border-color: white;
    }

    .navbar-light .navbar-toggler {
        background: white;
        border: 1px solid #F47E37;
    }

    ul.navbar-nav.me-auto.mb-lg-0 li a {
        padding: 10px 20px;
    }

    section.container {
        padding: 0 15px;
    }

    .banner-section {
        text-align: center;
        margin-top: -60px;
        margin-bottom: 45px;
    }

    .card-latest-line {
        margin-bottom: 60px;
    }

    .banner-text h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .banner-section button {
        padding: 10px 16px;
    }

    .main-text h2 {
        font-size: 35px;
        /* font-weight: 700; */
        line-height: 55px;
    }

    .main-section.py-5.my-5 {
        text-align: center;
        padding: 0 15px;
    }

    .row.row-cols-1.row-cols-md-3 {
        padding: 0 15px;
    }

    .col-12.col-sm-12.col-md-6.col-lg-4.p-0 {
        margin: 30px 0px;
    }

    img.ps-5.ms-5 {
        display: none;
    }

    .latest-title.pb-5 {
        text-align: center;
    }

    .card.p-2 {
        margin: 10px 0px;
    }

    .banner-section .padding-right {
        padding-right: 12px;
        margin-bottom: 10px;
    }

    .banner-section .padding-left {
        padding-right: 12px;
    }

    .we-extra-ordinary .padding-right {
        padding-right: 12px;
    }

    .we-extra-ordinary .padding-left {
        padding-left: 12px;
    }

    .main-text p {
        font-size: 14px;
    }

    article.we-extra-ordinary {
        margin-bottom: 90px;
    }

    .we-are-special .special-section h1 {
        font-size: 43px;
        line-height: 60px;
        margin-top: 14px;
    }

    .we-are-special .special-section h5 {
        font-size: 25px;
    }

    .we-are-special .special-part {
        margin-bottom: 50px;
        padding: 0 12px;
    }

    .pricing-section .card-field {
        margin-bottom: 60px;
    }

    .pricing-section {
        padding-top: 45px;
        padding-bottom: 80px;
    }

    .total-border .number-logo img {
        display: none;
    }

    .text-field {
        padding: 20px 0px 20px 118px;
    }
}