body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Primary and secondary Text Style */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-weight: 700;
}

p {
    color: white;
    opacity: 0.9;
}

.main-header-text hr {
    width: 34px;
    height: 0px;
    border: 2px solid #F5FFCC;
}

.main-header-text h6 {
    color: #F5FFCC;
}



/* Primary and secondary Button Style */

.btn-gradient-2 {
    font-size: 1em;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.btn-gradient-2 {
    background: linear-gradient(rgb(20, 19, 19), rgb(13, 12, 12)) padding-box,
        linear-gradient(to right, #eba946, hsl(29, 100%, 48%)) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

.button-primary {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
}

/* Banner Section Style */
.banner-text h6 {
    color: #F5FFCC;
}

.banner-text h1 {
    font-size: 64px;
}

header hr {
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(217, 217, 217, 0) 100%);
    border-radius: 1000px;
    font-weight: 800;
}

.main-text h2 {
    font-size: 48px;
}

/* Card Style Section */
.card-style {
    background: rgb(255, 217, 100, 0.1);
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
}

.card-border {
    border: 2px solid transparent;
    border-image: linear-gradient(90.12deg, rgba(255, 255, 255, 0.1) -23.55%, rgba(255, 255, 255, 0.055) 120.81%) 1;
}

.card-body {
    opacity: 1.7;
}

.card-img {
    width: 50px;
    height: 50px;
}

.card-style .card-img {
    background-color: #F7C301;
    padding: 8px;
    border: 3px solid;
    border-radius: 100%;
    text-align: center;
    margin: auto;
    margin-top: -30px;
}

.checkout-are {
    background-image: linear-gradient(90deg,
            rgba(12, 12, 12, 1),
            rgba(96, 51, 5, 1),
            rgba(12, 12, 12, 1));

}

.section-one {
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(91, 91, 91, 0.33) 50.31%, rgba(217, 217, 217, 0) 100%);
}

.border-bottom-style {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
}

.hover-effect:hover {
    background: rgba(255, 153, 0, 0.6);
}

.pricing-section h5 {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    background: linear-gradient(95.39deg, rgba(255, 255, 255, 0) -6.03%, #FFFFFF 129.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.pricing-section h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pricing-section ul li img {
    background: #000000;
}

.pricing-section ul li {
    font-size: 18px;
    opacity: 0.7;
    list-style: none;
    padding: 8px 0;
}

.pricing-card {
    background: #000000;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
    border-radius: 10px;      
}

.pricing-card .header-img {
    width: 80px;
    height: 190px;
}
.pricing-card:hover .top-bar {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    box-shadow: 0px 10px 160px -2px rgba(0, 0, 0, 0.16);
    border-radius: 21px 21px 0px 0px;
    height: 20px;
    border: 3px solid transparent;
}

.button-primary {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    border: 1px solid transparent;
   
}

.pricing-button {
    font-size: 1em;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.pricing-button {
    background: linear-gradient(rgb(20, 19, 19), rgb(13, 12, 12)) padding-box,
        linear-gradient(to right, rgb(227, 49, 85), darkorchid) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
}

.total-section h3 {
    font-weight: 600;
    font-size: 50px;
}

.total-section p {
    font-size: 20px;
    color: #717282;
}

.total-border {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #F7C301 0%, #F47E37 100%) border-box;
    border-radius: 21px;
    border: 1px solid transparent;
}

.owl-carousel .item-field,
.latest-card .card {
    background-color: #000000;
}

/*  Our Latest Blog */
.latest-card .card {
    background: linear-gradient(#080600, #080600) padding-box,
        linear-gradient(to right, #dbd8cd 0%, #c4a18b 0%) border-box;
    border: 1px solid transparent;
}

.latest-card .card-text {
    font-size: 17px;
}

.card-latest-line {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
}

/* Email Field */
.email-field button {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    border-radius: 0px 200px 200px 0px;
    padding: 20px;
    color: white;
    font-weight: 700;
}
.input-group.email-field {
    width: 600px;
    margin: auto;    
}
input.form-control {
    border-radius: 200px 0px 0px 200px;
    padding: 20px;
}

/* Curosol */
.border-line {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%,
            rgba(255, 153, 0, 0.14) 100%) 1;
}

.swiper-slide .card {
    background: rgb(255, 217, 100, 0.1);
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 217, 100, 0.1) 0%, rgba(255, 153, 0, 0.6) 50.31%, rgba(255, 153, 0, 0.14) 100%) 1;
}

.swiper-slide .card p {
    color: #FFFFFF;
    opacity: 0.7;
    line-height: 30px;
}

.swiper-slide .card img {
    width: 130px;
    border-radius: 50%;
    margin-top: -75px;
}

.mySwiper {
    display: flex;
    align-items: center;
}

span.swiper-pagination-bullet.swiper-pagination-bullet {
    background: linear-gradient(90deg, #F7C301 0%, #F47E37 100%);
    width: 18px;
    height: 18px;
}

.swiper-section {
    margin-bottom: 60px;
}

/* Footer Section start */
.footer-logo-text h1 {
    font-size: 22px;
    line-height: 33px;
}

.footer-logo-text ul {
    list-style: none;
    padding: 0;
}

.footer-logo-text ul li {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer-logo-text ul li a {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}

.icons ul li a {
    padding: 8px 14px;
    color: white;
    font-weight: 700;
}

.logo ul {
    display: flex;
}

.logo ul li {
    margin: 0 10px;
    background: #1F1F1F;
    border-radius: 100%;
    padding: 6px 12px;
}

/* Drop down menu */

.country-drop-down-menu .drop-down {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.drop-down .arrow {
    font-size: 30px;
}

.drop-down .wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.drop-down img {
    width: 50px;
    height: 30px;
}

.list {
    background-color: #fff;
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
    cursor: pointer;
    max-height: 250px;
    overflow-y: scroll;
    width: 100%;
    display: none;
    color: black;
    z-index: 9;
}

.show {
    display: block;
}

.item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
}

.item:hover {
    background-color: rgb(211, 211, 211);
}
.footer-logo-text.d-flex.align-items-center {
    justify-content: end;
}
.lear-bg{
    background-image: url(../images/main/footer/lair-bg.png), 
        linear-gradient(180deg, rgba(0, 0, 0, 0.0) 17.46%, rgba(12, 12, 12, 0.54) 100%);
    background-repeat: no-repeat;
    

}
.subscribe-are {
    background: rgba(12, 12, 12, 0.54);
}


/* Responsive Style */
@media screen and (max-width: 576px) {
    .navbar-light .navbar-toggler {
        border-color: white;
    }

    .navbar-toggler-icon {
        color: white;
        background: white;
    }

    .navbar-light .navbar-toggler {
        background: white;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .images-section.d-flex {
        margin-top: 30px;
    }

    .main-text h2 {
        font-size: 25px;
    }

    .card.pricing-card {
        margin-top: 40px;
    }

    span#basic-addon2 {
        padding: 10px;
    }

    .footer-logo-text.mt-5.d-flex.justify-content-between {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-logo-text.mt-5.d-flex.justify-content-between div {
        margin: 10px 0px;
    }

    .connected-text.d-flex.align-items-center {
        display: flex;
        flex-direction: column;
        gap: 20px 0px;
    }

    .country-drop-down-menu {
        margin: auto;
        padding-top: 25px;
    }

    .footer-last-section {
        text-align: center;
    }
    .input-group.email-field {
        width: 330px;
        margin: auto;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-light .navbar-toggler {
        border-color: white;
    }

    .navbar-toggler-icon {
        color: white;
        background: white;
    }

    .navbar-light .navbar-toggler {
        background: white;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .images-section.d-flex {
        margin-top: 40px;
    }

    .card-group.text-center.align-items-center.m-auto.justify-content-center {
        display: flex;
        flex-direction: column;
    }

    .card.pricing-card {
        margin-top: 54px;
    }
    .input-group.email-field {
        width: 540px;
        margin: auto;
    }
    .footer-logo-text.mt-5.d-flex.justify-content-between {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-logo-text.mt-5.d-flex.justify-content-between div {
        margin-top: 25px;
    }
    .connected-text.d-flex.align-items-center {
        text-align: center;
        justify-content: center;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .country-drop-down-menu {
        margin: auto;
        padding: 30px 0px;
    }
    .copy-field {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer-logo-text.d-flex.align-items-center {
        justify-content: center;
    }
    .card-group.text-center.align-items-center.justify-content-center {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .navbar-light .navbar-toggler {
        border-color: white;
    }

    .navbar-toggler-icon {
        color: white;
        background: white;
    }

    .navbar-light .navbar-toggler {
        background: white;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .main-text h2 {
        font-size: 30px;
    }

}